resources/
todo
.env
backend/.env
.vscode
.github
.DS_Store
backend/data/.home-cache.json
.home-cache.json
.page-cache.json
backend/test-run/
backend/test-data
*.leader

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.tsbuildinfo
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?